<div class="container">
    <h1 mat-dialog-title>{{isEditMode ? 'Update Employee' : 'Add New Employee'}}</h1>
    <mat-dialog-content>
        <form [formGroup]="employeeForm" class="form-grid">

            <div class="avatar-container">
                <div class="image-circle" [ngStyle]="{
        backgroundImage: 'url(' + (previewUrl || defaultAvatar) + ')'
      }"></div>

                <label for="fileInput" class="icon-wrapper">
                    <input type="file" id="fileInput" accept="image/*" (change)="onSelectFile($event)" />
                    <mat-icon fontIcon="edit"></mat-icon>
                </label>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Fist Name</mat-label>
                <input matInput type="text" formControlName="firstName">
                <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Employee Name is required</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput type="text" formControlName="middleName">
                <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Employee Name is required</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
                <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Employee Name is required</mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="dobpicker" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                <mat-datepicker #dobpicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genderTypeList" [value]="gender.label">{{ gender.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="employeeForm.get('email')?.hasError('pattern')">Invalid email format</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput type="text" formControlName="mobile">
                <mat-error *ngIf="employeeForm.get('mobile')?.hasError('required')">Mobile number is
                    required</mat-error>
                <mat-error *ngIf="employeeForm.get('mobile')?.hasError('pattern')">Invalid mobile number</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                    <mat-option value="all">All Country</mat-option>
                    <mat-option *ngFor="let country of countryList" [value]="country.label">
                        {{ country.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>PAN</mat-label>
                <input matInput type="text" formControlName="pan">
                
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role.label">{{ role.label }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <mat-select formControlName="designation">
                    <mat-option *ngFor="let designation of designationList" [value]="designation.label">{{
                        designation.label }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Reported By</mat-label>
                <mat-select formControlName="reportedBy">
                    <mat-option *ngFor="let reportedBy of reportedByTypeList" [value]="reportedBy.label">{{
                        reportedBy.label }}</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select formControlName="department">
                    <mat-option *ngFor="let department of departmentTypeList" [value]="department.label">{{
                        department.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of experienceTypeList" [value]="type.label">{{ type.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Joining Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="joiningDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statuses" [value]="status.label">{{ status.label }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Salary (Annually)</mat-label>
                <input matInput type="number" formControlName="salary">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Work Type</mat-label>
                <mat-select formControlName="workType">
                    <mat-option *ngFor="let workType of workTypeList" [value]="workType.label">{{ workType.label
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

        </form>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div class="actions">
            <button mat-flat-button color="primary" type="submit" class="example-full-width"
                [disabled]="employeeForm.invalid" (click)="saveEmployee()">{{isEditMode ? 'Update' : 'Save'}}</button>
            <button mat-flat-button color="warn" type="button" class="example-full-width"
                (click)="cancel()">Cancel</button>
        </div>
    </mat-dialog-actions>

</div>