.dashboard-container {
  padding: 20px;
}



.summary-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
  justify-content: center;

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}


.summary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
  // color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  h3,
  p {
    margin: 0;
    transition: color 0.3s ease;
  }

  h3 {
    margin-bottom: 8px;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: clamp(20px, 3vw, 24px);
    font-weight: bold;
    color: #3f51b5;
  }

  &:hover {
    background-color: #3f51b5;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    color: #fff;

    h3,
    p {
      color: #fff;
    }
  }


}

.dashboard-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr; 

 @media (min-width: 900px) {
  grid-template-columns: repeat(2, 1fr);
}

}

.upcoming-holiday-card {
   display: flex;
  flex-direction: column;

  mat-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%; 
  }

   .holidays-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  // .holiday-list {
  //   flex: 1;
  //   overflow-y: auto;
  //   margin-top: 12px;
  // }

  // .scroll-list {
  //   display: flex;
  //   flex-direction: column;
  // }
}


.holiday-list {
  // border: 1px solid #ccc;
  padding: 10px;
  // height: 200px;
  overflow: hidden;
  position: relative;
}

.scroll-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.scroll-list {
  display: flex;
  flex-direction: column;
  height: 160px;
}

.scroll-item {
  padding: 10px 5px;
  // border-bottom: 1px solid #eee;
  font-size: 14px;
  // background: white;
}

.holiday-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.mail-image {
  width: 48px;
  height: 48px;
}

.notification-label {
  margin-top: 8px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.filter-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }


  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }


  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);


  }
}