mat-form-field {
    margin: 8px;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
}

.btn {
    border-radius: 5px;
    height: 52px;
}

.loginform {
    display: flex;
    flex-direction: column;
}

.button-example {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 10px;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.resend-btn {
    color:#3f51b5;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}