<div style="padding: 20px; background-color: #3f51b5; height: 100%">
    <mat-card style="display: flex; flex-direction: column; margin: 100px auto; max-width: 500px; padding: 12px;">

        <mat-card-header style="text-align: -webkit-center; justify-content: center; padding: 20px;">
            <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>

        <form [formGroup]="forgotPasswordForm" class="loginform">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email"/>
            </mat-form-field>

            @if (currentStep >= ForgotPasswordStep.SEND_OTP) {
                <ng-container>
                    <mat-form-field appearance="outline">
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-label>OTP</mat-label>
                        <input matInput type="password" placeholder="OTP" formControlName="otp" />
                    </mat-form-field>
                    @if (currentStep === ForgotPasswordStep.VERIFY_OTP) {
                        <div class="action">
                            <a mat-button (click)="onResendOtp()" [disabled]="resendOtpDisabled">
                                Resend OTP
                                @if (resendOtpDisabled) {
                                    <span>({{ countdown }}s)</span>
                                } 
                            </a>
                        </div>
                    }     
                </ng-container>
            }
           
            @if (currentStep === ForgotPasswordStep.RESET_PASSWORD) {
                <ng-container>
                    <!-- <mat-form-field appearance="outline">
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-label>Old Password</mat-label>
                        <input matInput type="password" placeholder="Old Password" formControlName="oldPassword"/>
                    </mat-form-field> -->
        
                    <mat-form-field appearance="outline">
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="New Password" formControlName="newPassword"/>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="text" placeholder="Confirm Password" formControlName="confirmPassword"/>
                    </mat-form-field>
                </ng-container>
            }
           
           
            <div class="button-example">
                <button mat-flat-button class="example-full-width btn" (click)="onForgotPasswordSubmit()">
                    {{ currentStep === ForgotPasswordStep.VERIFY_EMAIL ? "Verify Email" :
                    currentStep === ForgotPasswordStep.SEND_OTP ? "Send OTP" :
                    currentStep === ForgotPasswordStep.VERIFY_OTP ? "Verify OTP" : 
                    "Submit" }}
                </button>
                <button mat-stroked-button class="example-full-width btn" (click)="onCancel()">Cancel</button>
            </div>
            
        </form>
        

    </mat-card>
</div>