.leave-request-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  
}

mat-icon {
  vertical-align: middle;
  margin-right: 6px;
}

.approved-icon {
  color: green;
}

.pending-icon {
  color: red;
}

.rejected-icon {
  color: red;
}