<div class="menu-configuration-container">
  <div class="header">
    <div class="title">
      <h2>Menu configuration</h2>
    </div>
    <button mat-flat-button class="example-full-width" type="button" (click)="createMenu()">+ Create Menu</button>
  </div>
  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter Menu
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="menuFilterForm">
      <div class="filters">
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search by Menu" formControlName="menuName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Status</mat-label>
          <mat-select formControlName="menuStatus">
            <mat-option *ngFor="let status of menuStatusList" [value]="status.label">{{ status.label }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>

    <div class="filter-actions">
      <button mat-flat-button class="example-full-width" (click)="applyFilters()">Apply</button>
      <button mat-flat-button class="example-full-width" (click)="clearFilters()">Clear</button>
    </div>


  </mat-expansion-panel>

  <mat-divider></mat-divider>

<div class="table-container">
<table mat-table [dataSource]="menuList" class="mat-elevation-z1">

    <!-- Sr No Column -->
    <ng-container matColumnDef="srNo">
      <th mat-header-cell *matHeaderCellDef> Sr No </th>
      <td mat-cell *matCellDef="let menu; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Menu </th>
      <td mat-cell *matCellDef="let menu">
        <span [style.padding-left.px]="menu.level * 20">{{ menu.title }}</span>
      </td>
    </ng-container>

    <!-- Route Column -->
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef> Path </th>
      <td mat-cell *matCellDef="let menu">
        {{ menu.path || '-' }}
      </td>
    </ng-container>

    <!-- Component Name Column -->
    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> Component Name </th>
      <td mat-cell *matCellDef="let menu">
        {{ menu.componentName || '-' }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let menu; let i = index">
        <button mat-icon-button color="accent" (click)="toggleVisibility(menu)"
          [matTooltip]="menu.visibility ? 'Active' : 'Inactive'"
          class="visibility-icon">
          <mat-icon>{{ menu.visibility ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onEditMedu(menu)">
          <mat-icon class="custom-primary">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="no-data" [attr.colspan]="displayedColumns.length">
        <strong>No Select Role</strong>
      </td>
    </tr>
  </table>
</div>
  

  <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"></mat-paginator>

</div>