.proejct-task-container {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.title span {
  font-size: 14px;
  color: gray;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

mat-expansion-panel {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 5px;
}


.filter-actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}


.text-btn {
  display: none;
}

.icon-btn {
  display: inline-flex;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  
}

button {
    border-radius: 5px;
  }

.circular-icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #1565c0;
  }

  .mat-icon {
    font-size: 26px;
    line-height: 1;
  }

}

@media (min-width: 600px) {
  .text-btn {
    display: inline-flex;
  }

  .icon-btn {
    display: none;
  }
}

.container {
  padding: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #3f51b5;
}

.section-title {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 500;
}

table {
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.in\ progress {
  background: #cce5ff;
  color: #004085;
}

.status.review {
  background: #e2e3e5;
  color: #383d41;
}

.status.completed {
  background: #d4edda;
  color: #155724;
}

.task-container {
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}


.status-field {
  width: 160px;
}

.upload-field {
  margin-top: 8px;
}

.uploaded-text {
  font-size: 13px;
  color: green;
  margin-top: 5px;
}

.uploaded-files {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.table-container {
  max-height: 400px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: auto;

}

table {
  min-width: 1000px;
  width: 100%;
  border-collapse: collapse;
}

mat-header-row,
mat-row {
  display: table-row;
}

mat-header-cell,
mat-cell {
  padding: 16px;
  white-space: nowrap;
}

::ng-deep .custom-select-panel {
 width: auto !important;
  min-width: 200px !important;   
  max-width: 500px !important; 
}

