<div class="container">

    <h2 mat-dialog-title>{{ dialogTitle }}</h2>
    <mat-dialog-content>
        <div class="apply-leave-container">
            <div class="form-section">
                <form [formGroup]="leaveForm">

                    <mat-form-field appearance="outline">
                        <mat-label>Employeee</mat-label>
                        <input matInput placeholder="Search by Name" formControlName="employeeNoWithName">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Leave Type</mat-label>
                        <mat-select formControlName="leaveType">
                            <mat-option *ngFor="let leaveType of leaveTypeList" [value]="leaveType.label">{{
                                leaveType.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-button-toggle-group class="mat-button-toggle-overrides" name="shift" aria-label="Select Shift"
                        formControlName="leaveDuration">
                        <mat-button-toggle value="Full Day">Full Day</mat-button-toggle>
                        <mat-button-toggle value="Half Day">Half Day</mat-button-toggle>
                    </mat-button-toggle-group>

                    <div class="date-fields">
                        <mat-form-field appearance="outline">
                            <mat-label>From Date</mat-label>
                            <input matInput [matDatepicker]="fromPicker" [matDatepickerFilter]="dateFilter" placeholder="DD/MM/YYYY"
                               formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromPicker [dateClass]="dateClass"></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="toPicker" [matDatepickerFilter]="dateFilter" placeholder="DD/MM/YYYY"
                               [min]="leaveForm.get('startDate')?.value" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                            <mat-datepicker #toPicker [dateClass]="dateClass" ></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Reason Type</mat-label>
                        <mat-select formControlName="leaveReasonType">
                            <mat-option *ngFor="let leaveReasonType of leaveReasonTypeList"
                                [value]="leaveReasonType.label">{{
                                leaveReasonType.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Reason Comment</mat-label>
                        <textarea matInput placeholder="Type Here" formControlName="leaveReasonComment"></textarea>
                    </mat-form-field>
                </form>

            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <div class="action-buttons">
            <ng-container *ngIf="!isViewMode">
            <button mat-flat-button color="primary" type="submit" (click)="ApplyLeave()">Submit</button>
            <button mat-stroked-button color="warn" (click)="closeDialog()">Cancel</button>
            </ng-container>

            <ng-container *ngIf="isViewMode">
      <button mat-flat-button color="primary"
              (click)="approveReject('Approved')">Approve</button>
      <button mat-flat-button color="warn"
              (click)="approveReject('Rejected')">Reject</button>
    </ng-container>


        </div>
    </mat-dialog-actions>


</div>