mat-form-field {
  width: calc(100% - 16px);
  margin: 8px;
}

.login-header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.loginform {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: calc(100% - 16px);
  margin: 10px 8px 0;
}

.btn {
  height: 52px;
  border-radius: 5px;
}

.resetpassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 10px;
}

.forgot-password {
  min-width: auto;
  padding: 0 8px;
}