

mat-form-field {
  margin: 8px;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}

.btn {
  border-radius: 5px;
  height: 52px;
}

.loginform {
  display: flex;
  flex-direction: column;
}

.resetpassword {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}