.menu-configuration-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

mat-card {
  margin-top: 15px;
  border-radius: 5px;
}

.create-menu-form-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }

  .parent-menu-field {
    align-self: self-end;
  }



  
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);

    //    .full-width {
    //   grid-column: span ;
    // }
  }
}

.form-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;

  button {
    min-width: 160px; 
    font-weight: 600;
    padding: 12px 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 6px;
  }

}