<div class="container">
    <div class="header">
        <div class="title">
            <h1>Manage Employees</h1>
        </div>
        <!-- <button mat-flat-button class="example-full-width" type="button" (click)="addEmployee()">+ Add new
            employee</button> -->

            <!-- For medium and large screens -->
<button mat-flat-button class="add-employee-btn text-btn" type="button" (click)="addEmployee()">
  + Add new employee
</button>

<!-- For small screens -->
<button mat-icon-button class="custom-primary icon-btn" type="button" (click)="addEmployee()">
  <mat-icon>person_add</mat-icon>
</button>

    </div>
    <mat-divider></mat-divider>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filter Employees
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="employeeFilterForm">
            <div class="filter-container">

                <mat-form-field appearance="outline" >
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search by Name" formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles" [value]="role.label">{{ role.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of statuses" [value]="status.label">{{ status.label
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of experienceTypeList" [value]="type.label">{{ type.label
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

             <div class="form-buttons">
            <button mat-flat-button class="example-full-width" (click)="applyFilters()">Apply</button>
            <button mat-flat-button class="example-full-width" (click)="clearFilters()">Clear</button>
        </div>

        </form>



       

    </mat-expansion-panel>


    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID -->
            <ng-container matColumnDef="empno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMP ID </th>
                <td mat-cell *matCellDef="let employee">
                    <a class="link">{{employee.empNo}}</a>
                </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let employee">

                    <span [ngClass]="employee.status"> {{employee.status}} </span>

                </td>
            </ng-container>

            <!-- Type -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let employee"> {{employee.type}} </td>
            </ng-container>

            <!-- Team Leader -->
            <ng-container matColumnDef="teamLeader">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Team Leader </th>
                <td mat-cell *matCellDef="let employee"> {{employee.teamLeader}} </td>
            </ng-container>

            <!-- Role -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let employee"> {{employee.role}} </td>
            </ng-container>

            <!-- Designation -->
            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let employee"> {{employee.designation}} </td>
            </ng-container>

            <!-- Joining Date -->
            <ng-container matColumnDef="joiningDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </th>
                <td mat-cell *matCellDef="let employee"> {{employee.joiningDate | date:'mediumDate'}} </td>
            </ng-container>

            <!-- Salary -->
            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                <td mat-cell *matCellDef="let employee"> {{employee.salary}} </td>
            </ng-container>

            <!-- Work Type -->
            <ng-container matColumnDef="workType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Type </th>
                <td mat-cell *matCellDef="let employee"> {{employee.workType}} </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let employee">
                    <button mat-icon-button color="primary" (click)="editEmployee(employee)">
                        <mat-icon class="custom-primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
                        <mat-icon class="custom-warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
                        <strong>No records found</strong>
                    </td>
                </tr>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"></mat-paginator>
</div>