<div class="menu-configuration-container">
  <div class="header">
    <div class="title">
      <h2>Menu configuration</h2>
    </div>
    <button mat-flat-button class="example-full-width" type="button" (click)="createMenu()">+ Create Menu</button>
  </div>
  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter Menu
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="popupConfigFilterForm">
      <div class="filters">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search by Menu" formControlName="menuName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="menuStatus">
            <mat-option *ngFor="let status of menuStatusList" [value]="status.label">{{ status.label }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </form>

    <div class="filter-actions">
      <button mat-flat-button class="example-full-width" (click)="applyFilters()">Apply</button>
      <button mat-flat-button class="example-full-width" (click)="clearFilters()">Clear</button>
    </div>

  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <div class="table-container">
    <table mat-table [dataSource]="popupList" class="mat-elevation-z1">

      <!-- Sr No Column -->
      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef> Sr No </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Pop Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Pop Name </th>
        <td mat-cell *matCellDef="let element">
          {{ element.name || '-' }}
        </td>
      </ng-container>

      <!-- Start Date -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element">
          {{ element.startDate | date: 'dd-MM-yyyy' }}
        </td>
      </ng-container>

      <!-- End Date -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element">
          {{ element.endDate | date: 'dd-MM-yyyy' }}
        </td>
      </ng-container>

      <!-- Time -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element">
          {{ element.startTime }} to {{ element.endTime }}
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [ngClass]="element.isActive ? 'icon-active' : 'icon-inactive'"
            [matTooltip]="element.isActive ? 'Active Popup' : 'Inactive Popup'">
            {{ element.isActive ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="icon-active" (click)="onEdit(element)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button class="icon-inactive" (click)="onDelete(element)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container>
                <tr class="mat-row" *matNoDataRow>
                    <td class="no-data" [attr.colspan]="displayedColumns.length" style="text-align: center;">
                        <strong>No records found</strong>
                    </td>
                </tr>
            </ng-container>


      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-paginator *ngIf="popupList.length > 0" [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"></mat-paginator>

</div>