
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$ems-frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($ems-frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ems-frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($ems-frontend-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-snackbar__label{
  padding: 0 !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface{
  padding: 0px !important;
}

.mat-sidenav {
  border-radius: 0 !important;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0 !important;
  
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  width: 95vw;
  height: 95vh;
  max-width: 95vw !important;
  max-height: 95vh !important;
  overflow: hidden !important;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  ::ng-deep .mat-dialog-container {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}

::ng-deep .custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  width: 100%;
  height: 100%;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  ::ng-deep .custom-dialog-container .mat-dialog-container {
    border-radius: 0 !important;
    max-width: 100vw;
    max-height: 100vh;
  }
}




